body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  overflow-x: hidden;
  background: url("/images/backgroundimg.png") no-repeat center center fixed;
  background-size: cover;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "InterVariable", sans-serif;
  }
}
.bannerLogo {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center; /* centers horizontally */
}
.loginBox {
  color: white;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center; /* centers horizontally */
  padding: 20px;
}

.form-control {
  border: white 1px solid;
  outline: none;
  box-shadow: none;
  height: 40px;
  color: #7e7e7e; /* text color */
  background-color: transparent;
}

.form-control::placeholder {
  color: #a3a3a3;
  font-size: 13px;
  opacity: 1;
}
.formContainer {
  display: flex;
  justify-content: center; /* center horizontally */
}
.btn-custom {
  background-color: #000; /* black */
  color: #fff; /* white text */
  height: 50px; /* adjust height */
  border: none; /* optional: remove border */
}

.btn-custom:hover {
  background-color: #333; /* dark gray on hover */
}
